{% extends "base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="wrapper">
        {% include 'visualization_block.html' %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-outline-success mb-5 add-button"><i class="fas fa-plus"></i>
                Add visualization
            </button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualization.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>

    <script type="text/javascript">
        function init() {
            $('[data-toggle="tooltip"]').tooltip();

            $('.selectpicker').selectpicker({
                actionsBox: true,
                container: 'body',
                dropupAuto: false,
                liveSearch: true
            });
        }

        init();

        let file_name = JSON.parse('{{ filename | tojson | safe}}');
        let block_id = 0;

        $(document).ready(function () {

            $('.add-button').on('click', function () {
                if (block_id === 19) {
                    alert('You have reached the maximum number of displayed visualizations !');
                    return;
                }
                $.post("/add", {
                    'filename': file_name,
                    'block_id': block_id
                })
                    .done(function (response) {
                        $('#wrapper').append(response);
                        block_id++;
                        init();
                    });
            })
        });


        $(document).on('submit', '.form_params', function (e) {
            e.preventDefault();
            let form_data = $(this).serializeArray();
            form_data.push({name: 'filename', value: file_name});
            let wrapper = $(this).closest('.parameters').find('.visualization');
            let list = $(this).closest('.parameters').find('.participants-list');

            $.post("/filter", form_data)
                .done(function (data) {
                    //console.log(data);
                    let selected_participants = data.selected_participants;
                    let filtered_participants = data.participants;
                    let indicators = list.find('.indicator');
                    indicators.removeClass();
                    indicators.addClass('indicator not-selected');
                    indicators.attr('title', 'Not selected');
                    for (let i = 0; i < selected_participants.length; i++) {
                        let participant_id = selected_participants[i];
                        let indicator = list.find(`[data-participant-id='${participant_id}']`);

                        if (filtered_participants.includes(participant_id)) {
                            indicator.removeClass();
                            indicator.addClass('indicator active');
                            indicator.attr('title', 'Active');
                        }
                        else {
                            indicator.removeClass();
                            indicator.addClass('indicator inactive');
                            indicator.attr('title', 'Inactive');

                        }
                    }
                    wrapper.html('');
                    if (data.transitions.length === 0 && data.stats.length === 0) {
                        wrapper.append('<p>No data available</p>');
                    }
                    else {
                        visualize(data, wrapper.get(0));
                    }

                });
        });

        $(document).on('change', '.aoi-settings', function () {
            let aoi_select = $(this).parent().next();
            if ($(this).val() === 'selection') {
                $(aoi_select).slideDown();
                $(aoi_select).find('select').prop('required', true);
            }
            else {
                $(aoi_select).css('display', 'none');
                $(aoi_select).find('select').prop('required', false);
            }
        });

        $(document).on('click', '.delete-button', function (e) {
            e.preventDefault();
            $(this).parent().remove();
        });

    </script>

{% endblock %}